@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-Regular.ttf');
}

body {
    font-family: Montserrat;
    background-color: #242424;
    width: 100vw;
    color: white;
    overflow: hidden;
}

.banner {
    background: url("bg.jpg"), #242424;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 1.8em;
}

.titleh {
    padding-top: 0.5em;
}

.subtitle {
    margin: auto;
    font-size: 0.9em;
    color: #aeaeae;
    display: table;
}

.leftbottom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 15vh;
}

.leftbottomcontent {
    font-size: 1.5em;
    margin-left: 5%;
    margin-bottom: 5%;
    height: 90%;
    width: 90%;
}

.subsubtitle {
    font-size: 0.5em;
    color: #aeaeae;
}

.projlink {
    color: #aeaeae;
}

.projlink:hover {
    color: #707070;
}

.bottomlogos {
    margin-top: 1.5em;
}

.bottomlogo {
    width: 1.5em;
}