@-webkit-keyframes blinkTextCursor {
    from {
        color: rgba(255, 255, 255, .75);
    }
    to {
        color: transparent;
    }
}


@keyframes blinkTextCursor {
    from {
        color: rgba(255, 255, 255, .75);
    }
    to {
        color: transparent;
    }
}


.blinking {
    -webkit-animation: blinkTextCursor 1000ms steps(44) infinite;
    animation: blinkTextCursor 1000ms steps(44) infinite;
}