#hello {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 100px;
    font-weight: 700;
    color: var(--accent);
}

#cursor {
    font-size: 100px;
}

#tunnelCanvas {
    background-color: var(--text);
    position: absolute;
}

#part1 {
    color: var(--background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#part1_bottom {
    height: 10vh;
    position: absolute;
    top: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#part1_bottom > img {
    height: 50px;
}

#hello_container {
    text-align: center;
    margin-bottom: 100px;
}

@media (max-width: 576px) {
    #hello, #cursor {
        font-size: 50px;
    }

    #hello_container{
        margin-bottom: 50px;
    }
}