#part1_scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#part1_scroll > div {
    width: 50px;
    height: 50px;
    position: relative;
}


#scroll {
    position: absolute;
    top: 0;
    width: 30px;
    left: 10px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

#scroll_dot{
    position: absolute;
    top: 10px;
    left: 22px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}